@font-face {
    font-family: 'Helvetica';
    src: url(../font/Inter-VariableFont_slnt\,wght.ttf);
}

body {
    font-family: Helvetica;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #272343;
}

header {
    background-color: #3d9696;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

section {
    padding: 10px 20px;
}

.item-stretch {
    align-items: stretch;
}

.text-end {
    text-align: right !important
}




.topnav {
    overflow: hidden;
    background-color: #eee;
    border-radius: 0.5rem;
}

.float-end {
    float: right !important;
}

.d-flex {
    display: flex;
}

.ml-auto {
    margin-left: auto;
}

.ml-1 {
    margin-left: 0.5rem;
}

.mr-1 {
    margin-right: 0.5rem;
}

.m-auto {
    margin: auto;
}

.m-1 {
    margin: 0.5rem;
}

.pt-7 {
    padding-top: 7rem !important;
}

.pb-real-4 {
    padding-bottom: 4rem !important
}

.px-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important
}

.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.p-1 {
    padding: 0.5rem;
}

.p-3 {
    padding: 1rem;
}

.p-5 {
    padding: 3rem;
}

.mx-2 {
    margin-right: .5rem !important;
    margin-left: .5rem !important
}

.col-6 {
    flex: 0 0 auto;
    width: 50%
}

.col-almost-6 {
    flex: 0 0 auto;
    width: 49%;
}

.w-85 {
    width: 85% !important;
}

.w-49 {
    width: 49% !important;
}

.h-100 {
    height: 100% !important;
}


.rounded {
    border-radius: 0.375rem !important
}

.event,
.activity {
    background-color: #004643;
    margin: 0.5rem;
    color: #abd1c6;
    padding: 1rem;
    border-radius: 0.375rem;
}

@media (max-width: 768px) {

    .event,
    .activity {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {

    .event,
    .activity {
        flex: 1 1 100%;
    }
}

@media (min-width:576px) {

    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%
    }

}

.topnav a {
    float: left;
    color: black;
    padding: 9px 16px;
    text-decoration: none;
    place-content: center;
    font-size: 17px;
}

a:hover {
    background-color: #004643;
    color: #abd1c6;
    border-radius: .15rem;

}

.topnav a.active {
    background-color: #004643;
    color: #abd1c6;
    border-radius: .15rem;
}


.topnav .logo {
    float: left;
    text-decoration: none;
    font-size: 17px;
}

.topnav .logo img {
    width: 30px;
    height: auto;
}

.topnav .logo:hover {
    background: transparent;
}

.topnav button {
    display: none;
}

.odd-section {
    background-color: #F7F5FD;
}

.container {
    padding: 0px 10px;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    margin-right: auto;
    margin-left: auto
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav button.icon {
        background: #d8d8d8;
        float: right;
        display: block;
        padding: 16px 17px;
        border: 0;
        outline: none;
        cursor: pointer;
    }

    button.icon:focus,
    button.icon:hover {
        border: 0;
        outline: none;
        background: #b3b3b3;
    }
}

@media screen and (max-width: 600px) {

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a {
        float: none !important;
        display: block;
        text-align: left;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.btn {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    color: #272343;
    background-color: #ffd803;
    align-self: center;
}

.btn:hover {

    background-color: #004643;
    color: #abd1c6;
    border-radius: .15rem;

}

.align-self-auto {
    align-self: auto;
}

.modal-open {
    overflow: hidden
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(128, 128, 128, 0.75);
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none
}

.modal.fade .modal-dialog {
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    transform: translate(0, -25%)
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}


.modal.show .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
}

.modal-dialog-centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - (.5rem * 2))
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000
}

.modal-backdrop.fade {
    opacity: 0
}

.modal-backdrop.show {
    opacity: .5
}

.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem
}

.modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5
}

.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem
}

.modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef
}

.modal-footer>:not(:first-child) {
    margin-left: .25rem
}

.modal-footer>:not(:last-child) {
    margin-right: .25rem
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}

@media (min-width:576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto
    }

    .modal-dialog-centered {
        min-height: calc(100% - (1.75rem * 2))
    }

    .modal-sm {
        max-width: 300px
    }
}

.banner_section {
    width: 100%;
    float: left;
    background-image: url(../img/banner-bg.png);
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    top: -70px;
    margin-bottom: 0;
}

.layout_padding {
    padding-top: 90px;
    padding-bottom: 0px;
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.text-white {
    color: #d3dae9;
}

.text-center {
    justify-content: center;
}

.text-space-between {
    justify-content: space-between;
}

.text-space-around {
    justify-content: space-around;
}

.text-start {
    text-align: left;
}


.banner_taital {
    width: 55%;
    font-size: 20px;
    color: #ffff;
    text-align: center;
    line-height: 30px;
}


.hero {
    background-color: white;
    padding: 20px;
    text-align: center;
    background-image: url(../img/bgimg2.jpg)no-repeat center center/cover;
}

#about,
#opportunities {
    text-align: center;
}

.opportunity {
    border: 1px solid #CCC;
    height: fit-content;
}

#findopportunities {
    padding: 20px;
    color: #3d9696;
}

footer {
    background-color: #343A40;
    color: white;
    text-align: center;
    padding: 10px 20px;
}

input,
button {
    border: none;
    outline: none;
    background: none;
    font-family: 'Inter';
}

.tip {
    font-size: 20px;
    margin: 40px auto 50px;
    text-align: center;
}

.cont {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    width: 900px;
    height: 550px;
    margin: 0 auto 100px;
    background: #fff;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.3), 10px 10px 15px rgba(70, 70, 70, 0.15), inset -10px -10px 15px rgba(255, 255, 255, 0.3), inset 10px 10px 15px rgba(70, 70, 70, 0.15);
}

.form {
    position: relative;
    width: 640px;
    height: 100%;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
    padding: 50px 30px 0;
}

.sub-cont {
    overflow: hidden;
    position: absolute;
    left: 640px;
    top: 0;
    width: 900px;
    height: 100%;
    padding-left: 260px;
    background: #fff;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.cont.s--signup .sub-cont {
    -webkit-transform: translate3d(-640px, 0, 0);
    transform: translate3d(-640px, 0, 0);
}



.img {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    padding-top: 360px;
}

.img:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 900px;
    height: 100%;
    background-image: url("ext.jpg");
    opacity: .8;
    background-size: cover;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.cont.s--signup .img:before {
    -webkit-transform: translate3d(640px, 0, 0);
    transform: translate3d(640px, 0, 0);
}

.img__text {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: #fff;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.img__text h2 {
    margin-bottom: 10px;
    font-weight: normal;
}

.img__text p {
    font-size: 14px;
    line-height: 1.5;
}

.cont.s--signup .img__text.m--up {
    -webkit-transform: translateX(520px);
    transform: translateX(520px);
}

.img__text.m--in {
    -webkit-transform: translateX(-520px);
    transform: translateX(-520px);
}

.cont.s--signup .img__text.m--in {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.img__btn {
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 100px;
    height: 36px;
    margin: 0 auto;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
}

.img__btn:after {
    content: '';
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 30px;
}

.img__btn span {
    position: absolute;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 1.2s;
    transition: -webkit-transform 1.2s;
    transition: transform 1.2s;
    transition: transform 1.2s, -webkit-transform 1.2s;
}

.img__btn span.m--in {
    -webkit-transform: translateY(-72px);
    transform: translateY(-72px);
}

.cont.s--signup .img__btn span.m--in {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.cont.s--signup .img__btn span.m--up {
    -webkit-transform: translateY(72px);
    transform: translateY(72px);
}

h2 {
    width: 100%;
    font-size: 2rem;
    text-align: center;
}

label {
    display: block;
    width: 260px;
    margin: 25px auto 0;
    text-align: center;
}

label span {
    font-size: 12px;
    color: #cfcfcf;
    text-transform: uppercase;
}

input {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    text-align: center;
}

.forgot-pass {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: #cfcfcf;
}

.submit {
    margin-top: 40px;
    margin-bottom: 20px;
    background: #d4af7a;
    text-transform: uppercase;
}

.fb-btn {
    border: 2px solid #d3dae9;
    color: #8fa1c7;
}

.fb-btn span {
    font-weight: bold;
    color: #455a81;
}

.sign-in {
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.cont.s--signup .sign-in {
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 1.2s;
    transition-duration: 1.2s;
    -webkit-transform: translate3d(640px, 0, 0);
    transform: translate3d(640px, 0, 0);
}

.sign-up {
    -webkit-transform: translate3d(-900px, 0, 0);
    transform: translate3d(-900px, 0, 0);
}

.cont.s--signup .sign-up {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px)
}

.col-md-3,
.col-md-4,
.col-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
}

.col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%
}

.col-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%
}

.team-card {
    margin: 5px;
}

@media (min-width:768px) {
    .col-md-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 24%
    }

    .col-md-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    height: 15rem;
}

.card-title {
    margin-bottom: .75rem
}

.card-text:last-child {
    margin-bottom: 0
}

.mt-5,
.my-5 {
    margin-top: 3rem !important
}

.mb-4 {
    margin-bottom: 1rem !important;
}

.my-5 {
    margin-bottom: 3rem !important;
}

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* About Hero Section */
.hero {
    /* background: url('../img/bgimg.jpg') no-repeat center center/cover; */
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-align: center;
    padding: 0 2rem;
}

.hero-content {
    max-width: 800px;
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    font-size: 1.5rem;
    margin-top: 1rem;
}

/* About Content Section */
.about-content {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}

.about-content h2 {
    font-size: 2rem;
    margin-top: 2rem;
}

.about-content p {
    font-size: 1.2rem;
    margin-top: 1rem;
    line-height: 1.6;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

footer a {
    color: #28a745;
    text-decoration: none;
}

footer .social-icons {
    margin-top: 0.5rem;
}

footer .social-icons a {
    color: white;
    margin: 0 0.5rem;
    font-size: 1.5rem;
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    font-size: 1.5rem;
    margin-top: 1rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
    margin-top: 1rem;
    line-height: 1.6;
}

h4 {
    font-size: 1.5rem;
    margin-top: 1rem;
}

h5 {
    font-size: 1.3rem;
    margin-top: 1rem;
}


.faq-content .faq {
    margin-top: 1rem;
    padding: 1rem;
    border-bottom: 1px solid #ddd; /* Add a border to separate the FAQ questions */
  }

  .faq-content .faq-question {
    font-size: 1.2rem;
    margin-top: 1rem;
    line-height: 1.6;
    cursor: pointer;
    color: #337ab7; /* Add a blue color to the FAQ questions */
  }

  .faq-content .faq-answer {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    line-height: 1.6;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    color: #666; /* Add a gray color to the FAQ answers */
  }